/* Body background */
body {
    font-family: Arial, sans-serif;
    background-color: #f6d36f; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 50px;
}

form {
    background-color: #f6d36f; 
    padding: 20px;
    border: 2px solid #c9a84d;
    width: 400px;
}

label {
    display: inline-block;
    width: 60px; 
}

input {
    width: 200px;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #999;
}

/* Buttons */
button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* Table styling */
table {
    width: 400px;
    margin-top: 20px;
    
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #e6b94d;
}
